body{
  background-color: #d0e8ff;
}


.cen {
  display: flex;
  justify-content: center;
}


.login-icon {
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px;
  cursor: pointer;
}



.login-icon div {
  margin-left: 20px;
}

.nav-section {
  display: flex;
  justify-content: center;
}



.menu-area {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  flex-wrap: wrap; 
  border-bottom: 2px solid #757575 ;
  padding-bottom: 30px;
  margin: 30px 0px; 
}  



.menu-list {
  display: flex;
  list-style: none;
  justify-content: center;
  flex-grow: 1;
  flex-wrap: wrap; 
   margin: 0;
}

.menu-list li {
  padding: 10px;
  padding: 10px; /* 여백을 추가하여 호버 효과가 더 명확하게 보이도록 */
  transition: background-color 0.3s ease; /* 부드러운 배경색 변화를 위한 트랜지션 */
}

.menu-list li:hover {
  color: azure;
  background-color: #5e5d5e; /* 연한 파란색 배경으로 변경 */
  border-radius: 5px; /* 배경색이 적용된 부분이 더 보기 좋도록 테두리 둥글게 처리 */
}



.menu-toggle {
  display: none;
}

.input-group {
  margin-left: auto;
  display: flex;
  align-items: center;
  width: auto; 
} 


.login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.login-form {
  margin-top: 25px;
}

.login-text {
  font-weight: 600;
  margin-bottom: 15px;
}

.login-button {
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


.input-box {
  width: 50vw;
}



.product-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 20px;
  transition: transform 0.3s ease,  border-color 0.5s ease; /* 카드가 커질 때와 테두리 색이 변할 때 애니메이션 추가 */
}

.product-card-container:hover {
  transform: scale(1.10); 
  border: 3px solid #ff69b4;
  /*border-color: #ff69b4;*/ /* 마우스를 올렸을 때 테두리 색상이 핑크빛(#ff69b4)으로 변경 *//* 마우스를 올렸을 때 카드가 1.05배 커지도록 설정 */
}

.product-card-container img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

.product-card-container div {
  margin-top: 10px;
}

.product-card-container img {
  width: 100%;
  height: 200px; 
  object-fit: cover; /* 이미지가 잘리지 않고 꽉 차도록 설정 */
}





.product-details, .product-image {
  margin: 20px 0; /* 각 섹션 위아래 마진 20px */
}


.product-image {
  height: 50%;
}

.product-title {
  font-size: 1.75rem; /* h3 사이즈 */
  font-weight: bold;
  margin-bottom: 20px;
}

.product-price {
  font-size: 1.75rem; /* h3 사이즈 */
  font-weight: bold;
  margin-bottom: 20px;
}

.product-new {
  color: #ff69b4; /* 진한 핑크색 */
  font-weight: bold;
  margin-bottom: 20px;
  animation: blink 1s step-start infinite; /* 깜박이는 효과 */
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.detail-section {
  margin-top: 20px;
}

.detail-section ul {
  padding-left: 0;
  list-style: none;
  margin-bottom: 20px;
}

.select-button {
  display: block;
  margin-top: 20px;
  background-color: #007bff;
  color: white;
}








.product-details ul {
  list-style-type: none;
  display: flex;
  gap: 13px;
}

.product-details ul li {
  background-color: azure;
  width: 36px;
  border: 1px solid #bcbcbc;
  height: 36px;
  cursor: pointer;
  display: grid;
  place-items: center;
  font-size: 16px;
}

.detail-section h5 {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 12px;
}
.detail-section {
  margin-bottom: 20px;
}



@media (max-width: 768px) {
  .menu-area {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu-list {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: rgb(211, 245, 233);
  }

  .menu-list.open {
    display: flex;
  }

  .menu-toggle {
    display: block;
    cursor: pointer;
  }
}